*{
    background-color: #000080;
    color: #00ffff;
    font-family: Cascadia Code;
    font-size: 30px;
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none; 
}
body{
    margin-left: auto;
    margin-right: auto;
    width: 900px;
    /* background-color: gray; */
}